<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN FORM</h1>
    <div style="display:flex;align-items:center;justify-content:center;">
    <form action="/logincheck/" method="post">
        {% csrf_token %}
        <label>Username: </label>
        <input name="username" type="text"/>
        <label>Password: </label>
        <input name="userpassword" type="password"/>
        <input type="submit" value="Submit"/>
    </form>
    </div>
</body>
</html>